@import url(styles.css);

.chip {
    border-radius: 100px;
    border: solid 1px var(--Secondary);
    color: var(--Secondary);
    width: fit-content;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

button {
    width: fit-content;
    padding: 8px;
    border: none;
    border-radius: 3px;
}

.grayButton {
    background-color: var(--ListAndFooter);
    color: var(--White);
}

.primaryButton {
    background-color: var(--Secondary);
    color: var(--White);
}

.outlineButton {
    background: none;
    color: var(--Secondary);
    border: solid 1px var(--Secondary);
}

header .outlineButton {
    background: none;
    color: var(--White);
    border: solid 1px var(--White);
}

header .primaryButton {
    background-color: var(--White);
    color: var(--Primary);
}

section div {
    background-color: var(--White);
    border: solid 1px var(--BordersAndLines);
    padding: 10px;
    border-radius: 5px;
    width: calc(100% - 10px);
}

section .third {
    width: 33%;
}

/* Popup styling */
.popup {
    display: none; /* hidden by default */
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    justify-content: right;
    z-index: 1000;
}

.popup form {
    background: white;
    padding: 2rem;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    max-width: 400px;
    width: 30vw;
    gap: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.popup form button {
    width: 100%;
    margin-top: auto;
}
